<%= form_with(model: [@article, @article.comments.build ], data: {remote: true}, local: true, id: 'comment-new') do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>