
@import "bootstrap-sprockets";
@import "bootstrap";


.validation-error {
  border: 1px solid red !important;
}
.validation-success {
  border: 1px solid green !important;
}

.validation-text {
  color: red;
}

.text-error{
  color: red;
}

.text-success{
  color: green;
}